.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.2fr 0.3fr 0.2fr repeat(2, 1fr) 0.3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    background-color: #181818;
    grid-area: 1 / 1 / 8 / 2;
}

.div2 {
    background-color: #181818;
    grid-area: 1 / 5 / 8 / 6;
}

.div3 {
    grid-area: 1 / 2 / 2 / 5;
    font-size: 38px;
}

.div4 {
    grid-area: 2 / 2 / 3 / 5;
}

.div5 {
    grid-area: 3 / 2 / 4 / 5;
    font-size: 18px;
}

    .div5 a {
        color: red;
        text-decoration: none;
        margin-right: 10px;
    }

        .div5 a:hover {
            color: darkred; 
        }

        .div5 a:focus {
            outline: none; 
        }

        .div5 a:active {
            color: maroon; 
        }


.div6 {
    grid-area: 4 / 2 / 6 / 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.div7 {
    grid-area: 6 / 2 / 7 / 5;

}
.div8 {
    grid-area: 7 / 2 / 8 / 5;
}
.music-card {
    width: calc(20%-38px);
    margin-right: 23px;
    margin-bottom: 16px;
    overflow: hidden;
    font-size: 10px;
}

.placeh {
    width: 165px;
    height: 165px;
}



.song-name, .artist-name {
    margin: 3px 0;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 120px;
}


.song-name {
    font-size: 11px;
}

.artist-name {
    color: #C2B0B0;
    font-weight: 460;
    font-size: 12px;
}

input[type="text"], select {
    box-sizing: border-box;
}


.title-name {
    margin: 3px 0;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 120px;
    font-size: 11px;
    color: white;
    text-decoration: none;
}

    .title-name:hover {
        color: #cc0000; 
    }


.music-card img {
    transition: box-shadow 0.2s ease-in-out;
}

.music-card:hover img {
    outline: none;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, red, orange, yellow, lime, blue, indigo, violet) 1;
}


input[type="submit"] {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: red;
    }
